﻿/* add your styling here */
*{
    margin: 0;
    padding: 0;
    font-family : Verdana, sans-serif;
}

/* buat navbar */
@media only screen and (max-width: 500px) {
    .right{
        /* display: inline; */
        display: none;
    }

}
.navbar{
    border: 4px none;
    height: 56px;
    width: relative;
    /* background-color: rgba(228, 225, 225, 0.87); */
    /* https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_box-shadow */
    box-shadow: 0px 4px 8px rgba(228, 225, 225, 0.582);
}

.left{
    display: inline;
    float: left;
    border-radius: 8px;
    padding: 12px;
    margin: 12px;
}

.right{
    /* display: inline; */
    float: right;
    border-radius: 8px;
    padding: 12px;
    margin: 12px;
}

a{
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: #ccc;
}
/* end of navbar */

@media only screen and (max-width: 500px) {
    span{
        display: none;
    }
}
header{
    width: 90%;
    margin: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

header img{
    width: 100%;
    max-width: 1500px;
    max-height: 800px;
}
/* for picture */
.mid{
    position: absolute;
    display: inline-block;
}
.mid b{
    background-color: black;
    color: white;
    padding: 12px;
    font-size: 36px;
}

h1{
    color: white;
    padding: 12px;
    font-size: 36px;
}

/* end of picture */

.container{
    margin: 24px;
    font-size: 14px;
}

h3{
    font-size: 25px;
    margin-bottom: 12px;
}

/* start projects */
/* reference : https://www.w3schools.com/css/tryit.asp?filename=trycss_image_gallery */

.row{
    box-sizing: border-box;
    display: inline-block;
    max-width: 1564px;
    height: auto;
}

.gallery {
    margin: 4px;
    border: 0px solid #ccc;
    float: left;
}

.gallery img {
    width: 362px;
    height: 242px;
}

.text{
    background-color: black;
    position: absolute;
    /* left: relative;
    top: relative; */
    color: white;
    padding: 12px;
    font-size: 10px;
}

/* section about */

.about{
    margin-top: 20px;
    /* font-size: 25px; */
}

.p-about{
    width: 90%;
    margin-top: 12px;
}

.row-about{
    box-sizing: border-box;
    display: inline-block;
    margin-top: 20px;
    max-width: 1564px;
    height: auto;
}

.gallery-about{
    margin: 4px;
    border: 0px solid #ccc;
    float: left;
    width: 400px;
}

.gallery-about img{
    width: 362px;
    height: 242px;
}

.gallery-about h3{
    font-size: 25px;
}

.p-about{
    font-size: 14px;
}
.gallery-about p{
    font-size: 14px;
}

.p-button{
    width: 100%;
    text-align: center;
    margin-top: 12px;
}
.button-m{
    height: auto;
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 14px;
}
.button-m:hover{
background-color: #f1f1f1;
}

/* start contact */

.contact{
    margin-top: 20px;
    
}
.p-contact{
    margin-top: 20px;
}

/* form input */

.wrapper{
    max-width: 1564px;
    margin: 12px;
}

.button{
    width: auto;
    height: auto;
    margin-top: 12px;
    display: block;
    background: #000000;
    color: #F2F2F2;
    padding: 12px 16px;
    cursor: pointer;
}

.button:hover{
    background-color: white;
    color: #000000;
}

  .input-fields {
    width: 100%;
    height: auto;
    padding: 12px 16px;
    margin-top: 16px;
}


table {
    text-align: left;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid #dddddd;
    width: 100%;
  }

  td, th {
    text-align: left;
    font-size: 14px;
    padding: 8px;
  }

  /* https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_intro */
/* https://stackoverflow.com/questions/47162973/remove-border-from-html-table */

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  

  footer{
      margin: 24px;
      font-size: 10px;
  }

  .maps img{
      width: 100%;
      max-width: 1500px;
      max-height: 800px;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  ::placeholder {
    font-family : Verdana, sans-serif;
    font-size: 14px;
  }
  

